openapi: 3.0.1
info:
  title: Orum API
  description: Orum API.
  version: v2022-09-21
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api-sandbox.orum.io
  - url: https://vault.api-sandbox.orum.io
paths:
  /oauth/token:
    post:
      summary: Request an access token
      tags:
        - Authentication
      operationId: post-oauth-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OauthTokenBody"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/OauthTokenBody"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OauthTokenResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: forbidden request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: service unavailable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security: []

  /deliver/reports/recon:
    post:
      tags:
        - Reports
      operationId: post-reports-recon
      summary: Create a reconciliation report
      description: Create a reconciliation report for the requested start and end date.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReconReportRequest"
      responses:
        200:
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReconReportResponse"
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: forbidden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:reports

    get:
      tags:
        - Reports
      operationId: get-reports-recon
      summary: Get all reconciliation reports
      description: Get all reconciliation reports.
      responses:
        200:
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportsResponse"
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: forbidden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:reports

  /deliver/reports/recon/{id}:
    get:
      tags:
        - Reports
      operationId: get-recon-report
      summary: Get a reconciliation report
      description: Get a single reconciliation report by ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
      responses:
        200:
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReconReportResponse"
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: forbidden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:reports

  /deliver/reports/{id}:
    delete:
      tags:
        - Reports
      operationId: delete-report
      summary: Delete a report
      description: Delete a single report.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
      responses:
        204:
          description: 204 response.
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: forbidden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:reports

  /deliver/reports/{id}/download:
    get:
      tags:
        - Reports
      operationId: get-report-download
      summary: Download a report
      description: Download a single report.
      parameters:
        - name: id
          in: path
          required: true
          description: Unique id for the resource.
          schema:
            $ref: "#/components/schemas/OrumId"
      responses:
        200:
          description: CSV file containing the report data.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: forbidden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:reports

  /deliver/reports/balances:
    get:
      tags:
        - Reports
      operationId: get-reports-balances
      summary: Get a balance statement summary report
      description: Get a balance statement summary report for the requested start and end date.
      parameters:
        - name: start_time
          in: query
          required: true
          schema:
            allOf:
              - $ref: "#/components/schemas/StartTime"
          x-orum-error-missing:
            message: start_time is required
            code: missing_start_time
          x-orum-error-invalid:
            message: start_time must be a valid timestamp
            code: invalid_start_time
        - name: end_time
          in: query
          required: true
          schema:
            allOf:
              - $ref: "#/components/schemas/EndTime"
          x-orum-error-missing:
            message: end_time is required
            code: missing_end_time
          x-orum-error-invalid:
            message: end_time must be a valid timestamp
            code: invalid_end_time
        - name: report_scope
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ReportScope"
          x-orum-error-invalid:
            message: "report_scope must be one of the following: total, enterprise, subledger"
            code: invalid_report_scope
        - name: subledger_reference_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SubledgerReferenceId"
          x-orum-error-invalid:
            message: "subledger_reference_id must be a valid string"
            code: invalid_subledger_reference_id
      responses:
        200:
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceReportResponse"
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        401:
          description: unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: forbidden.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:reports

  /deliver/persons:
    post:
      tags:
        - Persons
      operationId: post-person
      summary: Create a person
      description: Create a person object to represent a human customer.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PersonRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:persons

    get:
      tags:
        - Persons
      operationId: get-persons
      summary: Get all persons
      description: Get all persons objects.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: customer_reference_id
          description: Filter by customer reference id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/CustomerReferenceId"
        - name: status
          description: Filter by customer statuses (multiple allowed)
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PersonStatus"
          explode: true
          x-orum-error-invalid:
            known-error: invalid_person_status
        - name: start_time
          description: Filter results created at or after this time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          x-orum-error-invalid:
            known-error: invalid_start_time
        - name: end_time
          description: Filter results created before this time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          x-orum-error-invalid:
            known-error: invalid_end_time
        - name: first_name
          in: query
          description: The first name to filter persons by (case-insensitive, exact match).
          required: false
          schema:
            type: string
        - name: last_name
          in: query
          description: The last name to filter persons by (case-insensitive, exact match).
          required: false
          schema:
            type: string
        - name: account_number
          in: query
          description: Filter by account number
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/UsBankAccountNumber"
          x-orum-error-invalid:
            known-error: invalid_account_number
        - name: id
          description: Filter results by the person id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          x-orum-error-invalid:
            message: Orum ID is invalid. Pass in a valid uuid
            code: invalid_orum_id
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonsResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:persons

    put:
      tags:
        - Persons
      operationId: put-person-using-reference-id
      summary: Update a person by customer reference id
      description: Update a person object using its reference id.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutPersonRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutPersonResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:persons

  /deliver/persons/{id}:
    get:
      tags:
        - Persons
      operationId: get-person
      summary: Get a person by id
      description: Get a person object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          in: path
          description: Orum generated unique id for the person resource you are fetching.
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_person
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:persons

    put:
      tags:
        - Persons
      operationId: put-person
      summary: Update a person by id
      description: Update a person object by its id.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          in: path
          required: true
          description: Orum generated unique id for the person resource you are updating.
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_person
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutPersonRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutPersonResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:persons

    patch:
      tags:
        - Persons
      operationId: patch-person
      summary: Partial update a person by id
      description: Update individual fields on person object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          in: path
          required: true
          description: Orum generated unique id for the resource for the person resource you are updating.
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_person
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchPersonRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:persons

    delete:
      tags:
        - Persons
      operationId: delete-person
      summary: Closes a person by id
      description: Close a person object so they are unable to transact.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          in: path
          required: true
          description: Orum generated unique id for the resource for the person resource you are updating.
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_person
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:persons

  /deliver/businesses:
    post:
      tags:
        - Businesses
      operationId: post-business
      summary: Create a business
      description: Create a business object to represent a business customer.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:businesses

    get:
      tags:
        - Businesses
      operationId: get-businesses
      summary: Get all businesses
      description: Get all business objects.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: customer_reference_id
          description: Filter by customer reference id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/CustomerReferenceId"
        - name: status
          description: Filter by customer statuses (multiple allowed)
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/BusinessStatus"
          explode: true
          x-orum-error-invalid:
            known-error: invalid_business_status
        - name: start_time
          description: Filter results created at or after this time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          x-orum-error-invalid:
            known-error: invalid_start_time
        - name: end_time
          description: Filter results created before this time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          x-orum-error-invalid:
            known-error: invalid_end_time
        - name: legal_name
          description: Filter by legal name
          in: query
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/LegalName"
          x-orum-error-invalid:
            known-error: invalid_legal_name
        - name: account_number
          in: query
          description: Filter by account number
          required: false
          schema:
            allOf:
              - $ref: "#/components/schemas/UsBankAccountNumber"
          x-orum-error-invalid:
            known-error: invalid_account_number
        - name: id
          description: Filter results by the business id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          x-orum-error-invalid:
            message: Orum ID is invalid. Pass in a valid uuid
            code: invalid_orum_id
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessesResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:businesses

    put:
      tags:
        - Businesses
      operationId: put-business-using-reference-id
      summary: Update a business by reference id
      description: Update a business object using reference id.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutBusinessRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutBusinessResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:businesses

  /deliver/businesses/{id}:
    get:
      tags:
        - Businesses
      operationId: get-business
      summary: Get a business by id
      description: Get a business object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the business you are fetching.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_business
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:businesses

    put:
      tags:
        - Businesses
      operationId: put-business
      summary: Update a business by id
      description: Update a business object by id.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the business you are updating.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_business
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutBusinessRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutBusinessResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:businesses

    patch:
      tags:
        - Businesses
      operationId: patch-business
      summary: Partial update a business by id
      description: Update individual fields on a business object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the business you are updating.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_business
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchBusinessRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:businesses

    delete:
      tags:
        - Businesses
      operationId: delete-business
      summary: Closes a business by id
      description: Close a business object so they are unable to transact.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the business you are updating.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_business
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:businesses

  /deliver/external/accounts:
    post:
      tags:
        - External Accounts
      operationId: post-external-account
      summary: Create an external account
      description: Create an external account object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExternalAccountRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountResponse"
        "400":
          description: duplicate external account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicateAccountError"
        default:
          description: invalid or unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:external-accounts

    get:
      tags:
        - External Accounts
      operationId: get-external-accounts
      summary: Get all external accounts
      description: Get all external account objects.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: account_reference_id
          description: Filter by account reference id
          in: query
          required: false
          allowEmptyValue: true
          schema:
            $ref: "#/components/schemas/AccountReferenceId"
          x-orum-error-invalid:
            known-error: invalid_query_account_reference_id
        - name: customer_reference_id
          description: Filter by customer reference id
          in: query
          required: false
          allowEmptyValue: true
          schema:
            $ref: "#/components/schemas/CustomerReferenceId"
          x-orum-error-invalid:
            known-error: invalid_query_customer_reference_id
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountsResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:external-accounts

    put:
      tags:
        - External Accounts
      operationId: put-external-account-using-reference-id
      summary: Update an external account by reference id
      description: Update an external account object using its reference id.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutExternalAccountRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:external-accounts

  /deliver/external/accounts/{id}:
    get:
      tags:
        - External Accounts
      operationId: get-external-account
      summary: Get an external account by id
      description: Get an external account object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          in: path
          description: Orum generated unique id for the resource for the external account you are fetching.
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_external_account
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:external-accounts

    put:
      tags:
        - External Accounts
      operationId: put-external-account
      summary: Update an external account by id
      description: Update an external account object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the resource for the external account you are updating.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_external_account
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutExternalAccountRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:external-accounts

    patch:
      tags:
        - External Accounts
      operationId: patch-external-account
      summary: Partial update an external account by id
      description: Update individual fields on an external account object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the resource for the external account you are updating.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_external_account
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchExternalAccountRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:external-accounts

    delete:
      tags:
        - External Accounts
      operationId: delete-external-account
      summary: Closes an external account by id
      description: Close an external account object so they are unable to transact.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the resource for the external account you are updating.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_external_account
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:external-accounts

  /deliver/persons/{id}/external/accounts:
    get:
      tags:
        - External Accounts
      operationId: get-person-external-accounts
      summary: Get all external accounts for a specific person
      description: Get all external account objects, associated with a specific person
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the person you are requesting accounts for
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_person
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountsResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:external-accounts

  /deliver/businesses/{id}/external/accounts:
    get:
      tags:
        - External Accounts
      operationId: get-business-external-accounts
      summary: Get all external accounts for a specific business
      description: Get all external account objects, associated with a specific business
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the business you are requesting accounts for
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_business
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExternalAccountsResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:external-accounts

  /deliver/cards:
    post:
      tags:
        - Cards
      operationId: post-card
      summary: Create a card
      description: Create a card object.
      servers:
        - url: https://vault.api-sandbox.orum.io
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:cards

    get:
      tags:
        - Cards
      operationId: get-cards
      summary: Get all cards
      description: Get all cards by filter.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: customer_reference_id
          description: Filter by customer reference id
          in: query
          required: false
          allowEmptyValue: true
          schema:
            $ref: "#/components/schemas/CustomerReferenceId"
          x-orum-error-invalid:
            known-error: invalid_query_customer_reference_id
        - name: status
          description: Filter by card statuses (multiple allowed)
          in: query
          required: false
          explode: true
          schema:
            $ref: "#/components/schemas/CardStatusFilter"
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardsResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:cards

  /deliver/cards/{id}:
    get:
      tags:
        - Cards
      operationId: get-card
      summary: Get a card by id
      description: Get a card object by id.
      parameters:
        - name: id
          in: path
          description: Orum generated unique id for the resource for the card you are fetching.
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_card
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:cards

    delete:
      tags:
        - Cards
      operationId: delete-card
      summary: Closes a card by id
      description: Close a card object so they are unable to transact.
      parameters:
        - name: id
          in: path
          description: Orum generated unique id for the resource for the card you are fetching.
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_card
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:cards

  /deliver/subledgers:
    post:
      tags:
        - Subledgers
      operationId: post-subledger
      summary: Create a subledger
      description: Create a subledger object to represent a separate pool of funds attached to an existing customer
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubledgerRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubledgerResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:subledgers

    get:
      tags:
        - Subledgers
      operationId: get-subledgers
      summary: Get all subledgers
      description: Get all subledger objects.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: subledger_reference_id
          description: Filter results by subledger reference id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SubledgerReferenceId"
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubledgersResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:subledgers

  /deliver/subledgers/{id}:
    get:
      tags:
        - Subledgers
      operationId: get-subledger
      summary: Get a subledger
      description: Get a subledger by id
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: "version_invalid"
          x-orum-error-missing:
            known-error: "version_missing"
        - name: id
          in: path
          required: true
          description: Subledger ID
          schema:
            type: string
            format: uuid
            description: The unique identifier for the subledger in UUID format.
          x-orum-error-invalid:
            known-error: "unknown_id_subledger"
      responses:
        200:
          description: successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubledgerResponse"
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:subledgers

  /deliver/schedules:
    post:
      tags:
        - Schedules
      operationId: post-schedule
      summary: Create a schedule
      description: Schedule recurring transfers.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:schedules
    get:
      tags:
        - Schedules
      operationId: get-schedules
      summary: Get all schedules
      description: Get all schedule objects.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: status
          description: Filter results by schedule status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ScheduleStatus"
          x-orum-error-invalid:
            message: Invalid schedule status. It must be either active or inactive.
            code: invalid_schedule_status
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchedulesResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:schedules

  /deliver/schedules/rrule:
    post:
      tags:
        - Schedules
      operationId: post-validate-rrule
      summary: Validate and parse RRULE string
      description: Validates an RRULE string and returns its human readable form along with next occurrence dates.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RruleValidationRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RruleValidationResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:schedules

  /deliver/schedules/{id}:
    get:
      tags:
        - Schedules
      operationId: get-schedule
      summary: Get schedule by id
      description: Retrieve a single schedule
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the schedule you are fetching.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: invalid_schedule_id
          x-orum-error-missing:
            known-error: missing_schedule_id
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:schedules

    delete:
      tags:
        - Schedules
      operationId: delete-schedule
      summary: delete a schedule that matches the id
      description: Delete a single schedule
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the schedule you are deleting.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: invalid_schedule_id
          x-orum-error-missing:
            known-error: missing_schedule_id
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:schedules

  /deliver/transfers:
    post:
      tags:
        - Transfers
      operationId: post-transfer
      summary: Create a transfer
      description: Initiate a transfer between a source party and destination party.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:transfers

    get:
      tags:
        - Transfers
      operationId: get-transfers
      summary: Get all transfers
      description: Get all transfer objects.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: transfer_reference_id
          description: Filter results by transfer reference id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/TransferReferenceId"
        - name: status
          description: Filter results by transfer status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/TransferStatus"
          x-orum-error-invalid:
            known-error: invalid_status
        - name: transfer_group_id
          description: Filter results by transfer group id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrumId"
        - name: schedule_id
          description: Filter results by schedule id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: invalid_schedule_id
        - name: subledger_reference_id
          description: Filter results by subledger reference id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SubledgerReferenceId"
          x-orum-error-invalid:
            known-error: invalid_subledger_reference_id
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransfersResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:transfers

  /deliver/transfers/{id}:
    get:
      tags:
        - Transfers
      operationId: get-transfer
      summary: Get a transfer by id
      description: Get a transfer object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the transfer you are fetching.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_transfer
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:transfers

    patch:
      tags:
        - Transfers
      operationId: patch-transfer-metadata
      summary: Update transfer metadata by id
      description: Update the metadata on a transfer.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the transfer you are fetching.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferPatchMetadataRequest"
        required: true
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:transfers

  /deliver/transfers/{id}/cancel:
    post:
      tags:
        - Transfers
      operationId: post-transfer-cancel
      summary: Cancel a transfer by id
      description: Initiates a transfer cancellation request if the transfer is eligible.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the transfer you are canceling.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_transfer
      responses:
        "202":
          description: 202 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferCancelResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:transfers

  /deliver/transfers/{id}/history:
    get:
      tags:
        - Transfers
      operationId: get-transfer-history
      summary: Get transfer history by id
      description: Get the history of status changes for a transfer.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          description: Orum generated unique id for the transfer.
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/OrumId"
          x-orum-error-invalid:
            known-error: unknown_id_transfer
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferHistoryResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:transfers

  /deliver/eligibility:
    post:
      tags:
        - Eligibility
      operationId: post-eligibility
      summary: Check if a routing number is eligible for RTP or FedNow
      description: Returns routing number eligibility
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EligibilityRequest"
        required: true
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EligibilityResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:routing-number-eligibility

    get:
      tags:
        - Eligibility
      operationId: get-eligibility
      summary: A list of RTP and FedNow Eligible Routing Numbers
      description: Returns all routing numbers that are eligible for RTP and FedNow
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEligibilityResponse"
        "401":
          description: unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:routing-number-eligibility

  /deliver/transfer-groups:
    post:
      tags:
        - Transfer Groups
      operationId: post-transfer-group
      summary: Create a Transfer Group
      description: Create a Transfer Group object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferGroupRequest"
        required: true
      responses:
        "200":
          description: successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferGroupResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:transfer-groups

    get:
      tags:
        - Transfer Groups
      operationId: get-transfer-groups
      summary: Get all Transfer Groups
      description: Get all Transfer Group objects, sorted by most recently created transfer groups
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 100
          x-orum-error-invalid:
            known-error: size
        - name: transfer_group_reference_id
          description: Filter results by reference id.
          in: query
          required: false
          schema:
            type: string
          x-orum-error-missing:
            known-error: invalid_transfer_group_reference_id
      responses:
        "200":
          description: 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferGroupsResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:transfer-groups

  /deliver/transfer-groups/{id}:
    get:
      tags:
        - Transfer Groups
      operationId: get-transfer-group
      summary: Get a Transfer Group
      description: Get a Transfer Group object by ID
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: id
          in: path
          required: true
          description: Transfer Group ID
          schema:
            type: string
            format: uuid
            description: The unique identifier for the transfer group in UUID format.
          x-orum-error-invalid:
            known-error: unknown_id_transfer_group
      responses:
        "200":
          description: successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferGroupResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:transfer-groups

  /deliver/booktransfers:
    post:
      tags:
        - Book Transfers
      operationId: post-book-transfer
      summary: Create a book transfer
      description: Create a book transfer
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: "version_invalid"
          x-orum-error-missing:
            known-error: "version_missing"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookTransferRequest"
        required: true
      responses:
        200:
          description: successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookTransferResponse"
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - write:booktransfers

    get:
      tags:
        - Book Transfers
      operationId: get-book-transfers
      summary: Get all book transfers
      description: Get all book transfer objects.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
        - name: index
          description: Index for paginated results
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          x-orum-error-invalid:
            known-error: index
        - name: size
          description: Max number of results to return
          in: query
          required: false
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 500
          x-orum-error-invalid:
            known-error: size
        - name: book_transfer_reference_id
          description: Filter results by book transfer reference id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BookTransferReferenceId"
        - name: status
          description: Filter results by book transfer status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BookTransferStatus"
          x-orum-error-invalid:
            known-error: invalid_status
        - name: subledger_reference_id
          description: Filter results by subledger reference id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SubledgerReferenceId"
      responses:
        "200":
          description: 200 response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookTransfersResponse"
        "400":
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:booktransfers

  /deliver/booktransfers/{id}:
    get:
      tags:
        - Book Transfers
      operationId: get-book-transfer
      summary: Get a book transfer
      description: Get a book transfer by id
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: "version_invalid"
          x-orum-error-missing:
            known-error: "version_missing"
        - name: id
          in: path
          required: true
          description: Book Transfer ID
          schema:
            type: string
            format: uuid
            description: The unique identifier for the book transfer in UUID format.
          x-orum-error-invalid:
            known-error: "unknown_id_book_transfer"
      responses:
        200:
          description: successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookTransferResponse"
        400:
          description: invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:booktransfers

  /deliver/balance:
    get:
      tags:
        - Balance
      operationId: get-balance
      summary: Get balance
      description: Get balance object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      responses:
        "200":
          description: The requested enterprise account balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
        "401":
          description: unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:balances

  /deliver/balance/subledgers/{id}:
    get:
      tags:
        - Balance
      operationId: get-subledger-balance
      summary: Get subledger account balance
      description: Get subledger account balance object.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          x-orum-error-invalid:
            known-error: "unknown_id_subledger"
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
          x-orum-error-missing:
            known-error: version_missing
      responses:
        200:
          description: The requested subledger account balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubledgerBalanceResponse"
        "401":
          description: unauthorized request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: unexpected error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - oauth2:
            - read:balances

  /deliver/balance/subledgers:
    get:
      tags:
        - Balance
      operationId: get-all-subledger-balance
      summary: Gets all subledger account balances
      description: Gets all subledger account balance object.
      parameters:
        - name: Orum-Version
          in: header
          required: true
          schema:
            $ref: "#/components/schemas/OrumVersion"
          x-orum-error-invalid:
            known-error: version_invalid
[...]
